<!DOCTYPE html>
<html>
<body>	
	<div class='container'>			
	<h1>Hello</h1>    	
	<br/>
	<% @products.each do |t|%>
	<table>
		<tr><%= link_to t.name,t %>	</tr>
		
	</table>
	<%end%>
	</div>
</body>
</html>
